services:
  mysql:
    image: mysql:8.4.5
    command: --character-set-server=utf8mb4
      --collation-server=utf8mb4_general_ci
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql